
@{
    ViewData["Title"] = "AboutUs";
}


<h1>About Us</h1>
<p>We here at <bold>Mikes BallonaPaloozaExtravaganzia Store</bold> have been in love with <bold>celebrating</bold> special events eith you and your Family, since great grandpapy and Master of the 5th order of Clowns and Jesters, decided to hang up his
    nose and take up Balloons and the passion we share today
</p>
<br/>
<h2>And the Future</h2>
<p>When I was a child, my father followed in Grandpapy's footsteps and went to clown college. My youth would be filled with all the wonders clowns bring, but grandpapy always won out when he made balloon animals!
    As I grew older I saw how something as little as a balloon can change someones day! Whether you are celebrating a birthday, or want to brighten someones day after they found out their parents killed their hamster and lied about it 
    for 6 months...this might have gotten a bit personal... anyways like i was saying, this effect something like a balloon can have has intoxicated me my whole life! Now we get to introduce the budding generation of ballon experts as my kids
    start to take the reins! We truly are blessed to have the 4th generation of balloon experts in our store and I am sure you or whoever these balloons are for, will be blessed some <bold>more!</bold>
    
</p>