@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Mikes BallonaPaloozaExtravaganzia Store! This is the best place for all your Ballon ideas! <br/>
        For the amatuer and the pro "Ballooner", Us at Mikes BalloonaPaloozaExtravaganza store have what you need!!!
    </p>
</div>
